body {
    min-height: 100%;
    position: relative;
    background-color: #F6F1E7;
}

/*LOGO*/

.header {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.header .header_logo {
    max-width: 12.5em;
    max-height: 12.5em;
    margin: 1.875em 1.25em;
    flex-wrap: wrap;
}

.header .header_logo h1 {
    display: none;
}

.header .header_logo img {
    max-width: 100%;
    background-color: #FFFCF2;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

/*LINKS*/
main {}

.main_nos_encontre h1 {
    display: none;
}

.main_nos_encontre {
    max-width: calc(23.125em + 3.75em);
    margin: 0 auto;
}

.main_nos_encontre article {
    background-color: #45CACF;
    flex-basis: 100%;
    margin: 0 60px;
    margin-bottom: 20px;
    border-radius: 15px 15px 0 15px;
    -moz-border-radius: 15px 15px 0 15px;
    -webkit-border-radius: 15px 15px 0 15px;
    box-shadow: 5px 5px 5px 1px rgba(50, 50, 50, 0.2);
    -moz-box-shadow: 5px 5px 5px 1px rgba(50, 50, 50, 0.2);
    -webkit-box-shadow: 5px 5px 5px 1px rgba(50, 50, 50, 0.2);
}

.main_nos_encontre article:hover {
    background-color: #49D9DE;
    transition-property: box-shadow;
    transition-duration: 600ms;
    box-shadow: 5px 5px 5px 1px rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 5px 5px 5px 1px rgba(50, 50, 50, 0.5);
    -webkit-box-shadow: 5px 5px 5px 1px rgba(50, 50, 50, 0.5);
}

.main_nos_encontre article h2 {
    text-align: center;
    padding: 13px 0 10px 0;
    font-size: 1.7em;
    font-weight: 200;
    color: black;
}

/*FOOTER*/
footer p {
    margin: 0 auto;
    padding: 7px 0 5px 0;
    text-align: center;
    color: white;
    background-color: #1C1C1C;
    left: 0;
    bottom: 0;
    width: 100%;
    position: fixed;
}

/*ABSOLUTE*/
img {

}

#sapato-1 {
    position: relative;
    top: 100px;
    bottom: 0;
    left: 25%;
    right: 0;
    width: 150px;
    transform: rotate(-25deg);
}

#sapato-2 {
    position: relative;
    top: 0;
    bottom: 0;
    left: 55%;
    right: 0;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1) rotate(10deg);
    width: 150px;
}

/* 1200px */
@media (max-width: 75em){
    .sapato-1 {
        left: 20%;
    }

    img {}
    #sapato-2 {
        right: 20%;
    }
}

/* 1024px */
@media (max-width: 64em){

    .header_logo {
        max-width: 10em !important;
    }

    .header_pegadas {
        height: 3em;
    }

    .sapato-1 {
        left: 16%;
    }

    img {}
    #sapato-2 {
        right: 16%;
    }
}

/* 920px */
@media (max-width: 57.5em){

    .sapato-1 {
        left: 1%;
    }

    img {}
    #sapato-2 {
        right: 1%;
    }
}

/* 768 */
@media (max-width: 48em){

    .header_logo {
        max-width: 9em !important;
    }

    .header_pegadas {
        height: 2.5em;
    }

    .main_nos_encontre article h2 {
        font-size: 1.5em;
    }

    footer {
        font-size: 0.7em;
    }

        .sapato-1 {
        top: 600px;
        position: fixed;
    }

    img {}
    #sapato-2 {
        bottom: -150px;
    }
}

/* 600 */
@media (max-width: 37.5em){

}

/* 375 */
@media (max-width: 24em){
    .header_logo {
        max-width: 7em !important;
    }

}